{% load static i18n %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
        
    <a class="navbar-brand m-1 px-2 font-weight-bold" id="brand" href="{% url 'index' %}" style="color:white">SmoLearn</a>    
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
                <li class="nav-item p-1">
                        <a href="{% url 'profile' %}" role="button"><image class="rounded-circle profile-button-img" src="{{ user.profile.image.url }}"></a>
                    </li>
        
            <li class="nav-item p-1">
                <a class="btn btn-outline-light" href="{% url 'logout' %}" role="button">{% trans "Logout" %}</a>
            </li>    
    
        </ul>
    </div>
</nav>
